<%- include('templates/header') %>
    <main>
        <div class="aboutPage">
            <div class="madeBy">Made By</div>
            <div class="name">Neeraj Kshatriya</div>
            <div class="degree">BTECH IT</div>
            <div class="techStack">Tech Stack used
                <span>
                    HTML, CSS, EJS, JS, EXPRESS JS, POSTGRESQL
                </span>
            </div>
        </div>
    </main>

<%- include('templates/footer') %>