<%- include('templates/header') %>
    <main>
        <div class="contactPage">
            <div class="info">
                <div class="contactName">Neeraj Kshatriya</div>
                <div class="email social-btn"><a href="mailto:neerajkshatriy@gmail.com">Email</a></div>
                <div class="phone social-btn"><a href="9554451XXX">9554451XXX</a></div>
                <div class="linkedin social-btn"><a target="_blank" href="https://www.linkedin.com/in/neeraj-kshatriya/">Linkedin</a></div>
                <div class="github social-btn"><a href="https://github.com/neeraj027" target="_blank">Github</a></div>
            </div>
            <div class="more"><span>You can also follow me on:</span>
                <div class="social2">
                    <div class="facebook2 social-btn"><a href="">Facebook</a></div>
                    <div class="instagram2 social-btn"><a href="">Instagram</a></div>
                    <div class="twitter2 social-btn"><a href="">Twitter</a></div>
                </div>
            </div>

        </div>
    </main>
    <%- include('templates/footer') %>