<%- include('templates/header') %>
<main>
        <div class="mainPage">
            <p class="mainPagePara"><span class="mainQuote">❝</span> Share your voice. Unleash your story. The world is waiting to read it. <span class="mainQuote">❞</span></p>
        </div>
</main>
<%- include('templates/footer') %>